
body {
    max-width: 1000px;
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    overflow: auto;
}
.content {
    background-image: url("Backgrounds/Green trees - background for body.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-color: Chartreuse;
    background-position: 50%,20%;
    position: inherit;
    padding-top: 10px;

}
.content h1{

    font-family: 'Indie Flower', cursive;
    font-size: 40px;
    padding-left: auto;
    padding-right: auto;
    color: khaki;
    text-shadow: -3px 0 3px black;
    position: relative;
    left: 53%;
    margin: 0;

}

.headline {
    background-image: url("Backgrounds/20170721 Butleger1.jpg");
    background-color: #c7b39b;
    height: 100%;
    font-family: 'Merienda', cursive;
    color: yellowgreen;
    text-align: center;
    padding-top: 20px;
}
#presents {
    font-family: 'Condiment', cursive;
}
hr {
    background-color: black;
    color: black;
    height: 5px;
    border: none;
    margin: 0;
}
#buttons {
    margin-left: 10px;
    margin-right: 0;
    width: 10%;
    alignment: left;
    display: block;


}
button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    background-color: yellowgreen;
    margin-top: 20px;
    margin-bottom: 20px;
    alignment: center;
    text-decoration: none;
    border: none;
    outline: none;
 }
button:hover {
    background-color: green;
    color: white;
}
button:active {
    width: 95%;
    height: 44px;
    border-radius: 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: 23px;
    border: none;
}
.works {
    position: absolute;
    left: 15%;
    top: 90px;
}
#form {
    width: 200px;
    height: 200px;
    color: white;
}
.push {
    background-image: url("http://img.ppt.ru/img/4245cf98e3b0a2f398415a42ca58f9ac.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
    width: 100%;
    height: 150px;

}